html {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    line-height: 1.5rem;
}

header {
    display: flex;
}

.header-right-column {
    display: inline-block;
    width: 80%;
    justify-content: flex-end;
    margin-left: 5%;
    flex-grow: 5;
}

hr {
    height: 5px;
    background-color: black;
}

h1 {
    text-align: left;
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: right;
    margin-right: 15%;
    padding-top: 20px;

}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 20px;
}

nav a:hover {
    background-color: yellow;
    font-weight: 700;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.logo {
    width: 400px;
    height: auto;
    padding: 20px;
}

.item {
    width: 300px;
    padding: 10px 10px 20px 10px;
    margin: 20px auto 20px auto;
    border-radius: 8px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    flex-wrap: wrap;
    /* defined width includes the padding */
}

.item-image {
    width: 285px;
    height: auto;
    text-align: center;
    border: 3px solid black;
    box-sizing: border-box;
}

.item-title {
    text-decoration: underline;
    text-align: left;
    overflow-wrap: break-word;
}

.item-price {
    text-align: left;
}

.item:hover {
    background-color: yellow;
}

.item:hover .item-title {
    font-weight: 700;
    /* make the item title bold when you hover over the whole div */
}

select {
    border: 2px solid black;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    width: 100%;
    font-size: 16px;
}

button {
    border: 3px solid black;
    background-color: yellow;
    padding: 5px 20px 5px 20px;
    margin: 0px auto 0px auto;
    width: fit-content;
    font-weight: 700;
    font-size: 16px;
}

.detail-item {
    padding: 20px 0px 20px 0px;
    margin: 20px auto 20px auto;
    border-radius: 8px;
    font-size: 20px;
    box-sizing: border-box;
    /* detail image */
}

.detail-text {
    width: 30%;
    padding: 20px;
    font-size: 20px;
    box-sizing: border-box;
    margin-right: 10%;
    justify-content: center;
    /* background-color: lightblue; */

}

.detail-item-image {
    width: 600px;
    height: auto;
    border: 3px solid black;
    box-sizing: border-box;
}

.detail-cart {
    display: flex;
    justify-content: center;
    padding: 40px 0px 40px 0px;
}

.detail-item-price {
    margin-right: 30px;
    font-weight: 700;
}

.cart-item {
    width: 60%;
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin: 20px auto 20px auto;
    border-radius: 8px;
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
}

.cart-item-image {
    width: 200px;
    height: auto;
    margin-right: 10%;
    text-align: center;
    border: 3px solid black;
    box-sizing: border-box;
}

.cart-text {
    text-align: left;
    line-height: 1rem;
    /* margin: 0px auto 0px auto; */
}

.cart-total {
    /* text-align: left; */
    line-height: 1rem;
    margin: 0px auto 0px auto;
    padding: 10px;
    /* display: block; */
    background-color: lightcoral;
}

.remove-btn {
    font-weight: 700;
    font-size: 12px;
    text-decoration: underline;
}


/* homework 2 columns */

.items-grid-1 {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 80%;
    justify-content: center;
    margin: 0px auto 0px auto;
}

.items-grid-2 {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 80%;
    justify-content: center;
    margin: 0px auto 0px auto;
}

.detail-columns {
    display: flex;
    margin: 0px auto 0px auto;
}

.cart-columns{
    /* display: flex; */
    margin-left: 20%;
    background-color: pink;
    padding: 40px;
}

