html{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    line-height: 1.5rem;
}

hr{
    height: 5px;
    background-color: black;
}

h1{
    text-align: center;
    font-weight: 400;
}

nav{
    text-align: center;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    justify-content: center;
    display: inline-block;
}

nav a:hover{
    background-color: yellow;
    font-weight: 700;
}

a:link {
    color: black;
  }

a:visited {
    color: black;
  }

.logo{
    width: 400px;
    height: auto;
    padding: 20px;
}

.item{
    width: fit-content;
    padding: 10px 10px 20px 10px;
    margin: 20px auto 20px auto;
    border-radius: 8px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    /* defined width includes the padding */
}

.item-image{
    width: 400px;
    height: auto;
    text-align: center;
    border: 3px solid black;
    box-sizing: border-box;
}

.item-title{
    text-decoration: underline;
    text-align: left;
}

.item-price{
    text-align: left;
}

.item:hover {
    background-color: yellow;
}

.item:hover .item-title {
    font-weight: 700;
    /* make the item title bold when you hover over the whole div */
}

select{
    border: 2px solid black;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    width: 100%;
    font-size: 16px;
}

button{
    border: 3px solid black;
    background-color: yellow;
    padding: 10px 40px 10px 40px;
    font-weight: 700;
    font-size: 16px;
}

.detail-item{
    width: 600px;
    padding: 20px 0px 20px 0px;
    margin: 20px auto 20px auto;
    border-radius: 8px;
    font-size: 20px;
    box-sizing: border-box;
   
}

.detail-text{
    width: 275px;
    padding: 0px 0px 20px 0px;
    margin: 20px auto 20px auto;
    border-radius: 8px;
    font-size: 20px;
    box-sizing: border-box;
   
}

.detail-item-image{
    width: 600px;
    height: auto;
    text-align: center;
    border: 3px solid black;
    box-sizing: border-box;
}

.detail-text{
    text-align: left;
}

.detail-cart{
    display: flex; 
    align-items: center; 
    padding: 40px 0px 40px 0px;
}

.detail-item-price{
    margin-right: 30px;
    font-weight: 700;
}

.cart-item{
    width: 350px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin: 20px auto 20px auto;
    border-radius: 8px;
    font-size: 20px;
    box-sizing: border-box;
   
}

.cart-item-image{
    width: 200px;
    height: auto;
    margin: 20px auto 20px auto;
    text-align: center;
    border: 3px solid black;
    box-sizing: border-box;
}

.cart-text{
    text-align: center;
    line-height: 1rem;
}

.remove-btn{
    font-weight: 700;
    font-size: 12px;
    text-decoration: underline;
}



