.notecard {
    background-color: green;
    width: 450px;
    margin: 100px auto 100px auto;
    /* clockwise */
    padding: 20px;
    border-radius: 8px;
  }

  body{
    background-color: black;
  }

  .notecard .notecard-thumbnail{
    border: 4px red;
    width: 450px;
  }

  .btn-delete hover{
    color: #dddd08;
    cursor: pointer;
  }